#root {
  max-width: 1440px;
  text-align: center;
}
body {
  color: white;
  font-size: 24px;
}
.app-container {
  height: 100vh;
  width: 100vw;
  padding-top: 10%;
  background-color: #1f2632;
}
.container {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323a49;
  padding: 60px 10px;
  border-radius: 20px;
}
.id {
  color: #52ffa8;
  letter-spacing: 4px;
}
.advice {
  font-weight: 800;
  color: #cee3e9;
  max-width: 80%;
}
.divider {
  margin-bottom: -40px;
}
.new-advice {
  background-color: #52ffa8;
  padding: 20px;
  border-radius: 50px;
  position: relative;
  bottom: -95px;
}
@media screen and (max-width: 750px) {
  body {
    font-size: 20px;
  }
  .container {
    max-width: 500px;
  }
}

@media screen and (max-width: 550px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 375px;
  }
}
